go 1.25.0

use (
	./pkg
	./services/ai-service
	./services/event-service
	./services/frinds-service
	./services/gift-service
	./services/reminder-service
	./services/user-service
	./services/wishlist-service
)
